<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-autowire="byName">
       
    <description>
        This is the main Spring configuration file with some of the main "core" classes defined. 
    </description>
    
    <bean id="oppcCircuitBreaker" class="com.n3.breaker.spring.CircuitBreakerFactoryBean">
		<property name="name" value="ppcs"/>
		<property name="stateManager">
			<bean class="com.n3.logic.StateManagerImpl" />
		</property>
		<property name="concurrency" value="5"/>
		<property name="bufferSize" value="5"/>
	</bean>

	<aop:config proxy-target-class="true"  />
		
	<bean id="circuitBreakerAdvisor" class="com.n3.breaker.spring.CircuitBreakerAdvisor">
		<property name="pointcut" >
			<bean class="org.springframework.aop.aspectj.AspectJExpressionPointcut">
				<property name="expression" value="execution(* com.n3..*.RestService.service(..))" />
			</bean>
		</property>
		<property name="advice">
			<bean class="com.n3.logic.CircuitBreakerInterceptor" />
		</property>
	</bean>
	
</beans>